div.transbox {
	text-align: center;
	padding: 30px;
	width:250px;
  height:220px;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.7;
  filter: alpha(opacity=60); 
  
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.button {
	background-color: black;
    border: none;
    color: red;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
	border-radius: 14px;
	font-family:arial,sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.errortext {
	font-family:arial,sans-serif;
	font-size: 16px;
	color:gold;
	font-weight:bold;
}
input[type=text] {
 
    border:  3px solid black;
 
    
}

.textarea {
 
    border:  3px solid black;
 
    
}
input[type=email] {
 
    border:  3px solid black;
 
    
}
.formbutton {
	background-color: black;
    border: none;
    color: red;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px 1px;
	cursor: pointer;
	border-radius: 14px;
	font-family:arial,sans-serif;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


}
.button span {
 
 cursor: pointer;

 display: inline-block;

 position: relative;

 transition: 0.5s;
}

.button span:after {

 content: '\00bb';

 position: absolute;

 opacity: 0;

 top: 0;

 right: -20px;

 transition: 0.5s;
}

.button:hover span {

 padding-right: 25px;
}

.button:hover span:after {

 opacity: 1;

 right: 0;
}
.button:hover {
 
 background-color:silver;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 color: red;
}

.header {
	font-family:arial,sans-serif;
	font-weight:bold;
	font-size: 40px;
	color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

body {
	background-image: url("bg.jpg");
	background-size: cover;
	
}

.text {
	font-family:arial,sans-serif;
	font-size: 16px;
	color:white;
	font-weight:bold;

}
.select {
	font-family:arial,sans-serif;
	font-size: 16px;
	color:black;
	font-weight:bold;

}



